<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

In [1]:
#Data Science Tools and Ecosystem

In [ ]:
#In this notebook, Data Science Tools and Ecosystem are summarized.

In [22]:
#_Objective:_
list = {"List", "Popular languages for Data Science", "Popular libraries for Data Science"}
for index, value in enumerate(list, 1):
    print(index, value)

1 Popular languages for Data Science
2 Popular libraries for Data Science
3 List

In [5]:
#Some of the popular languages that Data Scientists use are:
language_list = ["Python", "R", "SQL"]
for index, value in enumerate(language_list, 1):
    print(index, value)

1 Python
2 R
3 SQL

In [ ]:
#Some of the commonly used libraries used by Data Scientists include:

In [7]:
library_list = ["NumPy", "Keras", "PyTorch"]
for index, value in enumerate(library_list, 1):
    print(index, value)

1 NumPy
2 Keras
3 PyTorch

In [4]:
pip install tabulate

Collecting tabulate
  Using cached tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0
Note: you may need to restart the kernel to use updated packages.

In [7]:
from tabulate import tabulate
environment =[["TensorFlow"],["Jupyter Notebook"], ["Apache Spark"]]
print(tabulate(environment, headers= ["Data Science Tools"]))

Data Science Tools
--------------------
TensorFlow
Jupyter Notebook
Apache Spark

In [8]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In [30]:
## Author
# Mehul Kalsi